.slider {
    position: relative;
    max-width: 100%;
    margin: 0 auto 40px auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.slides {
    display: flex;
    width: 300%;
    animation: slideAnimation 15s infinite;
}
.slides img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}
@keyframes slideAnimation {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(0); }
    36% { transform: translateX(-100%); }
    66.66% { transform: translateX(-100%); }
    69% { transform: translateX(-200%); }
    99.99% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}